@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Long+Cang&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Caveat", cursive;
    color: black;
}

header {
    background-color: darkgoldenrod;
    padding: 01rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px  #3a3a3a;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Long Cang", cursive;
    letter-spacing: 2px;
    color: black;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

nav {
    position: absolute;
    background-color: darkgoldenrod;
    padding: 01rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px  #3a3a3a;
    display: none;
}
/* need to add toogle for the nav bar*/ 

main {
    background-color: rgb(131, 71, 186);
    flex: 1 0 auto;
}

footer {
    background-color: darkgoldenrod;
    
}

/* media query for tables and larger displays */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
}