@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Long+Cang&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Caveat", cursive;
    color: black;
}

header {
    background-color: darkgoldenrod;
    padding: 01rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px  #3a3a3a;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Long Cang", cursive;
    letter-spacing: 2px;
    color: black;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

main {
    background-color: rgb(131, 71, 186);
    flex: 1 0 auto;
}

footer {
    background-color: darkgoldenrod;
    
}
