@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Long+Cang&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Caveat", cursive;
    color: black;
}

h1, h2, h3 {
    font-family: "Long Cang", cursive;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}

header {
    background-color: darkgoldenrod;
    padding: 01rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px  #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Long Cang", cursive;
    letter-spacing: 2px;
    color: black;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

nav {
    position: absolute;
    background-color: darkgoldenrod;
    padding: 01rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px  #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toogle:checked~nav {
    display: block;
}

#nav-toogle {
    display: none;
}

.nav-toogle-label {
    font-size: 2rem;
}

main {
    
    flex: 1 0 auto;
    margin-top: 70px;
}

.sofa {
    height: 600px;
    width: 100%;
    background: url("../css/images/centralperk.jpg") no-repeat center center/cover;
    position: relative;
}

.cover-text {
    background-color: rgba(145, 85, 202, 0.589);
    font-size: 130%;
    position: absolute;
    bottom: 40%;
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: azure;
    letter-spacing: 4px;
}

.cover-text > h2, .cover-text > h3 {
    color: azure;  
}

.hall-of-fame {
    background-color: darkgoldenrod;
    font-size: 140%;
    color: black;
    position: absolute;
    bottom: 40%;
    width: 100%;
    min-height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    letter-spacing: 4px;
}

.hall-of-fame > table {
    text-align: center;
    font-weight: 700;
    word-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-spacing: 30px;

}

footer {
    background-color: darkgoldenrod;
    font-family: "Caveat", cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    letter-spacing: 2px;
    color: black;
    letter-spacing: 4px;
    color: black;
}

footer a {
    text-decoration: none;
    color: inherit;
}

/* media query for tables and larger displays */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 2rem;
    }
    .nav-toogle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 80px;
        margin: 0 0.5rem;
    }
    main {
        margin-top: 194px;
    }
}
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: black;
    }
}
@media screen and (min-width: 848px)  {
    main {
        margin-top: 128px;
    }
}